.fadeout {
    position: relative; 
    bottom: 1em;
    height: 2em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}