// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...

// $login-image: 'https://source.unsplash.com/K4mSJ7kc0As/600x800' !default;
$login-image: '/images/bg/auth.png' !default;

$register-image: '/images/bg/auth.png' !default;

$password-image: 'https://source.unsplash.com/oWTW-jNGl9I/600x800' !default;

.bg-login-image {
  background: url($login-image);
  background-position: center;
  background-size: cover;
}

.bg-register-image {
  background: url($register-image);
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url($password-image);
  background-position: center;
  background-size: cover;
}