// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'global';
@import 'login';
@import 'sidebar';
@import 'banner';
@import 'contents';
@import 'footer';
@import 'button';
@import 'draft';
@import 'alert';
@import 'size';

.dropdown-item:hover {
    cursor: pointer;
}